/* NAVIGATION */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

/* LOUNGE/logo */
header .brand{
    color: dimgray;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .brand:hover{
    color: #f08801;
}

header .navigation{
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: dimgray;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

/* line under link */
header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

/* line under link while hover */
header .navigation .navigation-items a:hover:before{
    width: 100%;
    background: #f08801;
}

/* // NAVIGATION */


/* Reset default margin and padding */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Center align the heading */
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Style for the entire table */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for table header */
thead {
    background-color: #f08801;
    color: #fff;
}

/* Style for table header cells */
thead th {
    padding: 12px;
    text-align: left;
}

/* Style for even rows */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style for table cells */
tbody td {
    padding: 10px 12px;
    border: 1px solid #ddd;
}

/* Style for the search container */
.search-container {
    margin-top: 20px;
}

/* Alternate row background on hover */
tbody tr:hover {
    background-color: #ddd;
}