@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.home .pre-container {
    padding: 20px;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4); /* Background color with 40% opacity */
    width: 664px;
    height: 800px;
    overflow-y: auto; /* Add scrollbar when needed */
    overflow-x: hidden;
    scrollbar-width: thin; /* Specify the width of the scrollbar */
    scrollbar-color: orange rgba(0, 0, 0, 0.4); /* Define the color of the scrollbar */
}

.home .pre-container .contactpost-container .name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.home .pre-container .contactpost-container .email {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.home .pre-container .contactpost-container .msg {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.home .pre-container .contactpost-container {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 10px; /* Add padding for content within the div */
    margin-bottom: 10px; /* Add margin between each contact post */
    border-radius: 7px;
    width: 150px;
    height: 200px;
    transition: background-color 0.3s, width 0.3s, height 0.3s;
}

.home .pre-container .contactpost-container:hover {
    background-color: #000000;
    cursor: pointer;
    /*width: 180px;*/
    /*height: 150px;*/
}

.home .pre-container .contactpost-container .delete-button {
    display: none;
    position: relative;
    width: calc(100% - 60px);
    margin-left: 50px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    /*background-color: darkred;*/
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    flex: 1;
    background-color: darkred;
    transition: background-color ease 0.3s;
}

.home .pre-container .contactpost-container .delete-button:hover {
    background-color: red;
    color: #ffffff;
}

.pre-container .contactpost-container .done-button {
    width: calc(100% - 60px);
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 7px;
    background-color: #f08801;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    flex: 1;
}

.pre-container .contactpost-container .done-button:hover {
    background-color: #ffffff;
    color: #f08801;
}


.home .pre-container .contactpost-container .invisible {
    display: none;
}

/* CLICKED CONTENT */
.home .clickedContent h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

/* Style for textarea */
.home .clickedContent textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f08801;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    resize: none;
    height: 120px;
    overflow-y: auto; /* Add scrollbar when needed */
    scrollbar-width: thin; /* Specify the width of the scrollbar */
    scrollbar-color: orange rgba(0, 0, 0, 0.4); /* Define the color of the scrollbar */
}


.home .clickedContent .textbox {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f08801;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: left;
}


.home .clickedContent {
    display: none;
    border-radius: 7px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: #ffffff; /* Set text color */
}

.home .clickedContent .close-button {
    width: calc(100% - 90px);
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 7px;
    background-color: #f08801;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    flex: 1;
}

.home .clickedContent .close-button:hover {
    background-color: #ffffff;
    color: #f08801;
}