@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

/* LOUNGE/logo */
header .brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .brand:hover {
    color: #f08801;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

/* KANSKE INTE BEHÖVS */
/* while hovering link-text */
/*header .navigation .navigation-items a:hover{*/
/*    color:#fff;*/
/*}*/

/* line under link */
header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

/* line under link while hover */
header .navigation .navigation-items a:hover:before {
    width: 100%;
    background: #f08801;
}

/* pushing main small text, big text and button out */
section {
    padding: 100px 200px;
}

/* Transition BG */
.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(240, 136, 1, 36);
}

.home:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(251, 3, 3, 0.034);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* CONTACT BUTTON CONTAINER */
.home .contact-container {

    display: none;
    border-radius: 7px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* header text "Contact" */
.home .contact-container h2 {
    margin-bottom: 20px;
    color: #ffffff;

}

.home .contact-container input[type="text"],
.home .contact-container input[type="email"],
.home .contact-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f08801;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
/* where you write message */
.home .contact-container textarea {
    height: 120px;
    color: #ffffff;
    resize: none;
}

.home .contact-container .button-container input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 2px;
    background-color: #f08801;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.home .contact-container .button-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.home .contact-container .button-container input[type="submit"] {
    flex: 1;
    margin-right: 3px; /* Adjust as needed */
    margin-left: 3px;
}

.home .contact-container .button-container input[type="submit"]:hover {
    background-color: #ffffff;
    color: #f08801;
}

/* LOGIN/SIGNUP BUTTON CONTAINER */
.home .login-container {
    display: none;
    border-radius: 7px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* header text "Contact" */
.home .login-container h2 {
    margin-bottom: 20px;
    color: #ffffff;

}
.home .login-container input[type="text"],
.home .login-container input[type="password"],
.home .login-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f08801;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
/* where you write message */
.home .login-container textarea {
    height: 120px;
    color: #ffffff;
    resize: none;
}
.home .login-container .button-container input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 2px;
    background-color: #f08801;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.home .login-container .button-container {
    display: flex;
    justify-content: space-between;
}

.home .login-container .button-container input[type="submit"] {
    flex: 1;
    margin-right: 5px; /* Adjust as needed */
}

.home .login-container .button-container input[type="submit"]:hover {
    background-color: #ffffff;
    color: #f08801;
}

/* SIGN UP BUTTON CONTENT */
/* LOGIN/SIGNUP BUTTON CONTAINER */
.home .signup-container {
    display: none;
    border-radius: 7px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* header text "Contact" */
.home .signup-container h2 {
    margin-bottom: 20px;
    color: #ffffff;

}
.home .signup-container input[type="text"],
.home .signup-container input[type="password"],
.home .signup-container input[type="email"],
.home .signup-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f08801;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
/* where you write message */
.home .signup-container textarea {
    height: 120px;
    color: #ffffff;
    resize: none;
}
.home .signup-container .name-container {
    margin: 10px;
    display: flex;
    margin-bottom: 10px;
}
.home .signup-container .name-container input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f08801;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
.home .signup-container .button-container input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 2px;
    background-color: #f08801;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.home .signup-container .button-container {
    display: flex;
    justify-content: space-between;
}

.home .signup-container .button-container input[type="submit"] {
    flex: 1;
    margin-right: 5px; /* Adjust as needed */
}

.home .signup-container .button-container input[type="submit"]:hover {
    background-color: #ffffff;
    color: #f08801;
}

/* CONTENT ON MAIN SITE WITH READ MORE ETC */
/* content - the text */
.home .content {
    max-height: 15em;
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

/* the first small container of the text - could add background */
.home .content.active {
    display: block;
}

/*KANSKE INTE BEHÖVS*/
.home .content.active.hiddena {
    display: none;
    margin-bottom: 65px;
    margin: 0;
    padding: 0;
}

.home .content h1 {
    font-size: 4em;
    font-weight: 999;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

/* pushes read more button small text */
.home .content p {
    margin-bottom: 25px;
}

/* "Read More"-button kanske inte längre behövs */
.home .content a {
    background: #f08801;
    padding: 15px 35px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    z-index: 999;
}

/* content-more ALL TEXT IN CONTAINER THAT OPENS */
.home .content .content-more {
    display: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
    position: fixed;
    top: 15%; /* Adjust the top position based on your header height */
    left: 50%; /* Position container at the center horizontally */
    transform: translateX(-50%); /* Center the container horizontally */
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px); /* blur for safari (mac) */
    backdrop-filter: blur(10px); /* blur for other browsers */
    z-index: 999; /* Ensure the container appears above other elements */

    /* Add scrollbar styling */
    max-height: 670px;
    overflow-y: auto; /* Enable vertical scrollbar */
    scrollbar-width: thin; /* Specify the width of the scrollbar */
    scrollbar-color: orange rgba(0, 0, 0, 0.4); /* Define the color of the scrollbar */
}

.home .content .content-more img {
    position: static;
    width: 100px; /* Set the width of the image to fill the div */
    height: 100px; /* Set the height of the image to fill the div */
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}

.home .content .content-more .banner-img {
    position: static;
    width: 100%; /* Set the width of the image to fill the div */
    height: 100px; /* Set the height of the image to fill the div */
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}

.home .content .content-more .bigger-img {
    position: static;
    width: 100%; /* Set the width of the image to fill the div */
    height: 100%; /* Set the height of the image to fill the div */
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}

/* Custom scrollbar design for WebKit browsers */
.home .content .content-more::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

.home .content .content-more::-webkit-scrollbar-thumb {
    background-color: orange; /* Set the color of the thumb (handle) */
    border-radius: 10px; /* Add rounded corners to the thumb */
}

.home .content .content-more::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4); /* Set the color of the track (bar) */
    border-radius: 10px; /* Add rounded corners to the track */
}

/* read more button div design */
.home .content .read-more-container {
    position: relative; /* Container for the "Read More" button */
}

/*read more button KANSKE INTE BEHÖVS */
.home .content .read-more {
    background: #f08801;
    padding: 15px 35px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    position: absolute;
    bottom: -40px;
    left: 0;
    transition: bottom 0.3s ease;
    z-index: 999; /* Add a higher z-index value */
}

/* kanske inte behövs */
.home .content .content-more.active + .read-more-container .read-more {
    bottom: -80px; /* Adjust this value to position the button further down when content is expanded */
}

.home .content .content-more.hidden {
    display: none;
    margin-bottom: 65px;
    margin: 0;
    padding: 0;
}

/* when hovering "Read More" */
.home .content a:hover {
    background: #fff;
    color: #f08801;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a {
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media-icons a:hover {
    transform: scale(1.3);
    color: #f08801;
}

.home img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* slider */
.slider-navigation {
    z-index: 800;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(25vh);
    margin-bottom: 12px;
}

/* slider */
.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

/* color of nav-circle when active */
.slider-navigation .nav-btn.active {
    background: #f08801;
}

/* space between nav-circles */
.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

/* increase size while hover */
.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

.img-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

@media (max-width: 1435px) {
    .home .content .content-more {
        max-width: 40%; /* Set a maximum width for the content-more section as a percentage */
        /*max-height: 55%;*/
    }
}

@media (max-width: 1302px) {
    .home .content .content-more {
        max-width: 30%; /* Set a maximum width for the content-more section as a percentage */
        /*max-height: 55%;*/
    }
}

@media (max-height: 1302px) {
    .home .content .content-more {
        max-height: 70%;
    }
}

/* resizable window */
@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    .home .content .content-more {
        max-width: 50%; /* Set a maximum width for the content-more section as a percentage */
        max-height: 55%;
    }

    header .navigation .navigation-items a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before {
        background: #222;
        height: 5px;
    }

    header .navigation .navigation-items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn {
        background: url(/icons/menu.png) no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn:hover {
        background: url(/icons/menuhover.png) no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(/icons/close.png) no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }

    .menu-btn.active:hover {
        z-index: 999;
        background: url(/icons/closehover.png) no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}

@media (max-width: 560px) {
    .home .content h1 {
        font-size: 3em;
        line-height: 60px;
    }
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Limit width on larger screens */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Additional styling for modal inner content */
.modal-inner-content {
    max-height: 300px; /* Limit height of inner content with scroll */
    overflow-y: auto; /* Enable vertical scroll */
}