<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cigar Database</title>
    <!-- Add your CSS links here -->
    <link rel="stylesheet" href="/css/cigardb.css">
    <style>
        /* Add custom styles for clickable headers */
        th {
            cursor: pointer; /* Change cursor to pointer to indicate clickable */
        }

        /* Restore mouseover effect */
        th:hover {
            background-color: #ddd;
        }

        .invisible {
            display: none;
            visibility: hidden;
        }
    </style>
</head>
<body>

<header>
    <a href="/test" class="brand">lounge database</a>
    <div class="menu-btn">
        <div class="navigation">
            <div class="navigation-items">
                <a href="/test">Main</a>
                <a href="/cigardb">CigarDB</a>
                <a href="#">Contact</a>
                <a href="#">Login/Signup</a>
            </div> <!-- /navigation items -->
        </div> <!-- /navigation -->
    </div> <!-- /menu-btn -->
</header>

<br>
<br>
<br>
<br>
<br>
<br>

<!-- Search bar -->
<center><input type="text" id="searchInput" align="center" onkeyup="searchCigars()" placeholder="Search for cigars..."></center>

<table>
    <thead>
    <tr>
        <th onclick="sortTable(0)">Image</th>
        <th onclick="sortTable(1)">Name</th>
        <th onclick="sortTable(2)">Brand</th>
        <th onclick="sortTable(3)">Origin</th>
        <th onclick="sortTable(4)">Price</th>
        <th onclick="sortTable(5)">Box</th>
        <th onclick="sortTable(6)">Contains</th>
        <th onclick="sortTable(7)">Status</th>
        <th onclick="sortTable(8)">Rating</th>
    </tr>
    </thead>
    <tbody id="cigarTableBody">
    <!-- Iterate over cigars and populate the table rows -->
    <tr th:each="cigar : ${cigars}">
        <td><img th:src="${cigar.imagePath}" alt="Cigar Image" width="30" height="30"></td>
        <td th:text="${cigar.name}"></td>
        <td><img th:src="${cigar.brandImagePath}" alt="Brand Image" width="50" height="30" th:title="${cigar.brand}">
            <span class="invisible" th:text="${cigar.brand}"></span></td>
            &nbsp;
        <td><img th:src="${cigar.originImagePath}" alt="Origin Image" width="50" height="30" th:title="${cigar.origin}"></td>
        <td th:text="${cigar.price}"></td>
        <td th:text="${cigar.boxPrice}"></td>
        <td th:text="${cigar.boxAmount}"></td>
        <td th:text="${cigar.status}"></td>
        <td th:text="${cigar.rating}"></td>
    </tr>
    </tbody>
</table>

<script src="/javascript/cigardbsearch.js"></script>

</body>
</html>
