<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST SITE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <a href="/" class="brand">lounge</a>
    <div class="menu-btn">
        <div class="navigation">
            <div class="navigation-items">
                <a href="/">Main</a>
                <a href="/cigardb">CigarDB</a>
                <a href="#">Contact</a>
                <a href="#">Login/Signup</a>
            </div> <!-- /navigation items -->
        </div> <!-- /navigation -->
    </div> <!-- /menu-btn -->
</header>


<section class="home"> <!-- home -->
    <img class="img-slide active" src="/images/test8.jpeg">
    <img class="img-slide" src="/images/test2.jpeg">
    <img class="img-slide" src="/images/test7.jpeg">
    <img class="img-slide" src="/images/test4.jpeg">
    <img class="img-slide" src="/images/test5.jpeg">


    <div class="content active"> <!-- content active -->
        <h1>Arturo Fuente.<br>
            <span>Mission</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </p>
        <div class="content-more hidden" id="content-moreid1"> <!-- hidden content -->
            <h1>
                Arturo Fuente.
                <br>
                <span>Mission</span>
            </h1>

            <img class="banner-img" src="/images/test6.jpeg" alt="arturo fuerte logo"></img>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Id nibh tortor id aliquet lectus. Purus non enim praesent elementum facilisis leo vel fringilla.
                Eu consequat ac felis donec et. Ut venenatis tellus in metus vulputate eu scelerisque.
                Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales.
                Senectus et netus et malesuada fames. Ornare arcu dui vivamus arcu felis. Tellus rutrum tellus
                pellentesque eu.
                Blandit libero volutpat sed cras ornare arcu dui vivamus. Sapien eget mi proin sed libero enim sed.
                Scelerisque in dictum non consectetur a erat nam at lectus. Mi proin sed libero enim sed faucibus.
                Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Aliquam ut porttitor leo a diam
                sollicitudin.
                <br><br>
                Eget felis eget nunc lobortis. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat.
                Placerat in egestas erat imperdiet sed euismod. Pellentesque elit eget gravida cum sociis natoque
                penatibus et.
                Fames ac turpis egestas integer eget aliquet. Diam vulputate ut pharetra sit. Scelerisque eu ultrices
                vitae auctor eu.
                Adipiscing elit duis tristique sollicitudin nibh sit amet. Elementum sagittis vitae et leo duis. Egestas
                integer eget aliquet nibh.
                Pellentesque id nibh tortor id aliquet lectus. Mattis rhoncus urna neque viverra justo. Viverra aliquet
                eget sit amet.
                Morbi tincidunt augue interdum velit euismod in pellentesque. Etiam erat velit scelerisque in dictum non
                consectetur.
            </p>
        </div> <!-- // hidden content -->
        <div class="read-more-container">
            <a href="#" id="myLinkId1" data-content-id="content-moreid1" class="read-more">Read
                More</a>
        </div>
    </div> <!-- /content active -->
    <div class="content"> <!-- .home .content -->
        <h1>Number 2.<br>
            <span>The Second</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        <div class="content-more hidden" id="content-moreid2">
            <h1>
                Number 2.
                <br>
                <span>The Second</span>
            </h1>

            <img class="banner-img" src="/images/img2.jpeg" alt="arnold"></img>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Id nibh tortor id aliquet lectus. Purus non enim praesent elementum facilisis leo vel fringilla.
                Eu consequat ac felis donec et. Ut venenatis tellus in metus vulputate eu scelerisque.
                Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales.
                Senectus et netus et malesuada fames. Ornare arcu dui vivamus arcu felis. Tellus rutrum tellus
                pellentesque eu.
                Blandit libero volutpat sed cras ornare arcu dui vivamus. Sapien eget mi proin sed libero enim sed.
                Scelerisque in dictum non consectetur a erat nam at lectus. Mi proin sed libero enim sed faucibus.
                Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Aliquam ut porttitor leo a diam
                sollicitudin.
                <br><br>
                Eget felis eget nunc lobortis. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat.
                Placerat in egestas erat imperdiet sed euismod. Pellentesque elit eget gravida cum sociis natoque
                penatibus et.
                Fames ac turpis egestas integer eget aliquet. Diam vulputate ut pharetra sit. Scelerisque eu ultrices
                vitae auctor eu.
                Adipiscing elit duis tristique sollicitudin nibh sit amet. Elementum sagittis vitae et leo duis. Egestas
                integer eget aliquet nibh.
                Pellentesque id nibh tortor id aliquet lectus. Mattis rhoncus urna neque viverra justo. Viverra aliquet
                eget sit amet.
                Morbi tincidunt augue interdum velit euismod in pellentesque. Etiam erat velit scelerisque in dictum non
                consectetur.
            </p>
        </div>
        <div class="read-more-container">
            <a href="#" id="myLinkId2" data-content-id="content-moreid2" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="content">
        <h1>Cohiba.<br>
            <span>Fidel Castro's Favorite</span></h1>
        <p>The mystical properties that surround the cigar are due to the Fidel Castro story.</p>
        <div class="content-more hidden" id="content-moreid3">
            <h1>
                Cohiba.
                <br>
                <span>Fidel Castro's Favorite</span>
            </h1>

            <img class="banner-img" src="/images/castro.jpeg" alt="castro"></img>

            <p>
                In this blog post, we are going to be giving our readers an insight into Cohiba;
                the brand is considered by many to be the most successful of all cigar brands and definitely one of our favourites.
                Cuban Cigars, since the very beginning have always been held in such high regard. An air of affluence,
                luxury and class have surrounded the product since its very conception.
                Many fine cigars have been made from the most delicate tobacco leaves in Cuba's beautiful regions,
                but one particular brand which is recognised as being the one that does it the best is Cohiba.

                Cohiba is the flagship brand of Habanos S.A and was initially created in 1966 for the Cuban revolutionary Fidel Castro.
                During these years, Cohiba Cuban Cigars were made in a secret location, now globally known as the famous El Laguito Factory,
                and only given as gifts to those in political conduct such as diplomats and heads of state.
                The Cohiba brand really did begin their journey as an elite cigar brand which was only smoked by those worthy of it.
            </p>

            <img class="bigger-img" src="/images/fidelstory2.jpeg" alt="castro2"></img>

            <p>
                The very name Cohiba derives from the Indian Taino word for 'tobacco' and is believed to be coined after the bunches of
                tobacco leaves Columbus first saw the natives of Cuba smoking. As aforementioned during its early years,
                only those who were of political importance and the select few were given a chance to smoke these fantastic cigars.

                The mystical properties that surround the cigar are due to the Fidel Castro story. Cohiba's origins are said to date back to the mid-1960s,
                in which a local torcedor was giving Fidel Castro's bodyguard hand-rolled cigars.
                Fidel Castro enjoyed them so much that he asked for them to be made for his own personal use.
                This meant that the El Laguito Factory began producing regular cigars containing the unbranded tobacco blend which would later be known as the world-famous Cohiba.

                In 1968, the brand was launched, and the cigars produced were manufactured on a very small scale, made from only the best quality materials.
                The success of these cigars in Cuba meant that Cohiba could expand their production line and make it a full one,
                making it more available in cigar stores worldwide. This led to the brand launching itself as a premium cigar brand in 1982.
                Notably, in markets outside of the United States, which led to the various lines that have come out of the brand since.
            </p>

            <img class="bigger-img" src="/images/fidelstory3.jpeg" alt="castro3" ></img>

            <p>
                The leaves used in the Cohiba tobacco blend comes from various districts in the world-famous Vuelta Abajo region.
                The tobacco plantations used by Cohiba are recognised as Vegas Finas de Primera,
                which are confirmed by the Cuban Tobacco Institute as the best cigar tobacco growing regions. Zino Davidoff, an expert cigar connoisseur,
                also believes that the leaves from the districts of San Luis and San Juan y Martinez are the most sought after by cigar manufacturers.
                Therefore, it is absolutely no wonder the cigars from Cohiba are of high-grade quality and so popular amongst cigar aficionados worldwide.
                The cigars which contain the seco, ligero and the rare medio tiempo filler leaves have all undergone an additional fermentation process
                which is what gives the Cohiba brand it's distinctive and very popular flavours.
            </p>

        </div>
        <div class="read-more-container">
            <a href="#" id="myLinkId3" data-content-id="content-moreid3" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="content">
        <h1>Oliva.<br>
            <span>Serie V Melanio Robusto</span></h1>
        <p>A gorgeous, box-pressed perfecto with a superb wrapper</p>
        <div class="content-more hidden" id="content-moreid4">
            <h1>
                Oliva.
                <br>
                <span>Serie V Melanio Robusto</span>
            </h1>

            <img class="banner-img" src="/images/img1.jpeg" alt="Oliva Serie V Melanio Robusto"></img>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Id nibh tortor id aliquet lectus. Purus non enim praesent elementum facilisis leo vel fringilla.
                Eu consequat ac felis donec et. Ut venenatis tellus in metus vulputate eu scelerisque.
                Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales.
                Senectus et netus et malesuada fames. Ornare arcu dui vivamus arcu felis. Tellus rutrum tellus
                pellentesque eu.
                Blandit libero volutpat sed cras ornare arcu dui vivamus. Sapien eget mi proin sed libero enim sed.
                Scelerisque in dictum non consectetur a erat nam at lectus. Mi proin sed libero enim sed faucibus.
                Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Aliquam ut porttitor leo a diam
                sollicitudin.
                <br><br>
                Eget felis eget nunc lobortis. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat.
                Placerat in egestas erat imperdiet sed euismod. Pellentesque elit eget gravida cum sociis natoque
                penatibus et.
                Fames ac turpis egestas integer eget aliquet. Diam vulputate ut pharetra sit. Scelerisque eu ultrices
                vitae auctor eu.
                Adipiscing elit duis tristique sollicitudin nibh sit amet. Elementum sagittis vitae et leo duis. Egestas
                integer eget aliquet nibh.
                Pellentesque id nibh tortor id aliquet lectus. Mattis rhoncus urna neque viverra justo. Viverra aliquet
                eget sit amet.
                Morbi tincidunt augue interdum velit euismod in pellentesque. Etiam erat velit scelerisque in dictum non
                consectetur.
            </p>
        </div>
        <div class="read-more-container">
            <a href="#" id="myLinkId4" data-content-id="content-moreid4" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="content">
        <h1>Number 5.<br>
            <span>The Fifth</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        <div class="content-more hidden" id="content-moreid5">
            <h1>
                Number 5.
                <br>
                <span>The Fifth</span>
            </h1>

            <img class="banner-img" src="/images/sly.jpeg" alt="sly"></img>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Id nibh tortor id aliquet lectus. Purus non enim praesent elementum facilisis leo vel fringilla.
                Eu consequat ac felis donec et. Ut venenatis tellus in metus vulputate eu scelerisque.
                Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales.
                Senectus et netus et malesuada fames. Ornare arcu dui vivamus arcu felis. Tellus rutrum tellus
                pellentesque eu.
                Blandit libero volutpat sed cras ornare arcu dui vivamus. Sapien eget mi proin sed libero enim sed.
                Scelerisque in dictum non consectetur a erat nam at lectus. Mi proin sed libero enim sed faucibus.
                Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Aliquam ut porttitor leo a diam
                sollicitudin.
                <br><br>
                Eget felis eget nunc lobortis. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat.
                Placerat in egestas erat imperdiet sed euismod. Pellentesque elit eget gravida cum sociis natoque
                penatibus et.
                Fames ac turpis egestas integer eget aliquet. Diam vulputate ut pharetra sit. Scelerisque eu ultrices
                vitae auctor eu.
                Adipiscing elit duis tristique sollicitudin nibh sit amet. Elementum sagittis vitae et leo duis. Egestas
                integer eget aliquet nibh.
                Pellentesque id nibh tortor id aliquet lectus. Mattis rhoncus urna neque viverra justo. Viverra aliquet
                eget sit amet.
                Morbi tincidunt augue interdum velit euismod in pellentesque. Etiam erat velit scelerisque in dictum non
                consectetur.
            </p>
        </div>
        <div class="read-more-container">
            <a href="#" id="myLinkId5" data-content-id="content-moreid5" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div> <!-- /media-icons -->
    <div class="slider-navigation">
        <div class="nav-btn active"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
    </div> <!-- /slider navigation -->
</section> <!-- /home -->

<script src="/javascript/main.js"></script>

</body>
</html>