<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOUNGE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
    <a href="/" class="brand">lounge</a>
    <div class="menu-btn">
        <div class="navigation">
            <div class="navigation-items">
                <a href="/">Main</a>
                <a href="/cigardb" id="cigardbLink">CigarDB</a>
                <a href="#" id="contactLink">Contact</a>
                <a href="#" id="checkContactPosts">ContactPosts</a> <!-- link should only be shown when logged in -->
                <a href="#" id="loginLink">Login/Signup</a>
            </div> <!-- /navigation items -->
        </div> <!-- /navigation -->
    </div> <!-- /menu-btn -->
</header>


<section class="home"> <!-- home -->
    <img class="img-slide active" src="/images/test8.jpeg">
    <img class="img-slide" src="/images/test2.jpeg">
    <img class="img-slide" src="/images/test7.jpeg">
    <img class="img-slide" src="/images/test4.jpeg">
    <img class="img-slide" src="/images/test5.jpeg">

    <div class="contact-container" id="contactContainer"> <!-- contact container -->
        <h2>Contact</h2>
        <div id="messageContainer"></div>
        <form action="/saveContactPost" method="post" id="contactForm">
            <input type="text" name="name" placeholder="Your Name" required /><br>
            <input type="email" name="email" placeholder="Your Email" required /><br>
            <textarea type="message" name="message" placeholder="Your Message (max 255 letters)" required></textarea><br>
            <div class="button-container">
                <input type="submit" value="Submit Message">
                <input type="submit" value="Close">
            </div>
        </form>
    </div> <!-- /contact container -->

    <div class="login-container" id="loginContainer"> <!-- login container -->
        <h2>Login</h2>
        <div id="messageContainer2"></div>
        <form action="/login" method="post" id="loginForm">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <div class="button-container">
                <input type="submit" value="Login">
                <input type="submit" id="signupButton" value="Sign Up">
                <input type="submit" value="Close">
            </div>
        </form>
    </div> <!-- /login container -->

    <div class="signup-container" id="signupContainer"> <!-- signup container -->
        <h2>Sign Up</h2>
        <div id="messageContainer3">
            <form action="/member/add" method="post" id="signupForm">
                <div class="name-container">
                    <input type="text" name="firstName" placeholder="Enter First Name" required>
                    <input type="text" name="lastName" placeholder="Enter Surname" required>
                </div>
                <input type="email" name="email" placeholder="Enter Email" required>
                <input type="text" name="username" placeholder="Enter Username" required>
                <input type="password" name="password" placeholder="Enter Password" required>
                <div class="button-container">
                    <input type="submit" value="Register">
                    <input type="submit" value="Close">
                </div>
            </form>
        </div>
    </div>


    <div class="content active"> <!-- content active -->
        <h1>Arturo Fuente.<br>
            <span>Mission</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </p>
        <div class="content-more hidden" id="content-moreid1"> <!-- hidden content -->
            <h1>
                Arturo Fuente.
                <br>
                <span>Mission</span>
            </h1>

            <img class="banner-img" src="/images/test6.jpeg" alt="arturo fuerte logo"></img>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Id nibh tortor id aliquet lectus. Purus non enim praesent elementum facilisis leo vel fringilla.
                Eu consequat ac felis donec et. Ut venenatis tellus in metus vulputate eu scelerisque.
                Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales.
                Senectus et netus et malesuada fames. Ornare arcu dui vivamus arcu felis. Tellus rutrum tellus
                pellentesque eu.
                Blandit libero volutpat sed cras ornare arcu dui vivamus. Sapien eget mi proin sed libero enim sed.
                Scelerisque in dictum non consectetur a erat nam at lectus. Mi proin sed libero enim sed faucibus.
                Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Aliquam ut porttitor leo a diam
                sollicitudin.
                <br><br>
                Eget felis eget nunc lobortis. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat.
                Placerat in egestas erat imperdiet sed euismod. Pellentesque elit eget gravida cum sociis natoque
                penatibus et.
                Fames ac turpis egestas integer eget aliquet. Diam vulputate ut pharetra sit. Scelerisque eu ultrices
                vitae auctor eu.
                Adipiscing elit duis tristique sollicitudin nibh sit amet. Elementum sagittis vitae et leo duis. Egestas
                integer eget aliquet nibh.
                Pellentesque id nibh tortor id aliquet lectus. Mattis rhoncus urna neque viverra justo. Viverra aliquet
                eget sit amet.
                Morbi tincidunt augue interdum velit euismod in pellentesque. Etiam erat velit scelerisque in dictum non
                consectetur.
            </p>
        </div> <!-- // hidden content -->
        <div class="read-more-container">
            <a href="#" id="myLinkId1" data-content-id="content-moreid1" class="read-more">Read
                More</a>
        </div>
    </div> <!-- /content active -->
    <div class="content"> <!-- .home .content -->
        <h1>Number 2.<br>
            <span>The Second</span></h1>
        <p>The gates are massive, perhaps 20 feet high, and they slowly swing open, revealing a sea of green grass
            decorated with statues.</p>
        <div class="content-more hidden" id="content-moreid2">
            <h1>
                Number 2.
                <br>
                <span>The Second</span>
            </h1>

            <img class="banner-img" src="/images/img2.jpeg" alt="arnold"></img>

            <p>
                The gates are massive, perhaps 20 feet high, and they slowly swing open, revealing a sea of green grass
                decorated with statues.
                They are among the many big items in the oversized world of their owner, Arnold Schwarzenegger.
                He’s sitting comfortably in a leather chair in the cabana behind his house in the Brentwood neighborhood
                of Los Angeles.
                Despite the heat—it’s warmer than typical for September—a fire burns in the stone fireplace in the back
                wall of the cabana,
                which is open on its other three sides. He reaches to his right and picks up a torch,
                relighting the toasted foot of the Montecristo 80 jammed in the corner of his jutting jaw as he begins
                to explain the appeal of his most famous character.
                <br><br>
                “The biggest addition to my career was The Terminator,” he says between puffs of the Cuban. On November
                1,
                he returns to the big screen playing the machine that was made to kill, the role that made him Hollywood
                royalty.
                Terminator: Dark Fate is the sixth Terminator film. The new movie will reunite Schwarzenegger with
                actress Linda Hamilton and James Cameron,
                who created the character and spearheaded the series’ first two films.
                <br><br>
                But what makes audiences keep coming back? What’s the appeal of a cold-blooded machine,
                sent back in time from a future where computers have conquered the world? “People like to be that
                character.
                They are so angry with what’s going on in their lives, and in the world,” says Schwarzenegger.
                “They want to fight back but they have no power.”
                <br><br>
                Schwarzenegger recalls a scene from the first Terminator (released in 1984) to illustrate power.
                The robot has tracked its target, Sarah Connor, to a police station. The Terminator asks the desk
                officer where she is.
                “The guy says she’s in interrogation, just sit over there. He doesn’t even look up, he’s writing.
                And then the Terminator just looks around,” says Schwarzenegger, playing out the scene. “He thinks,
                ‘this is breakable.’ He figures it out. Then he says: ‘I’ll be back.’ ”
            </p>

            <img class="bigger-img" src="/images/arnoldstory2.jpeg" alt="arnold2"></img>

            <p>
                A few seconds go by in the film, and the calm of the police station is shattered by the Terminator
                smashing its car through the wall,
                taking out the officer who ignored him. “The guy gets pinned behind his desk. He’s gone. Dead. And
                people are saying ‘yeah, that fucking asshole,
                he should have been paying attention.’ ” Arnold laughs, holding his cigar in his left hand. “Sit on the
                side? Fucking Terminator doesn’t sit on the side.”
                <br><br>
                Alexander, one of Schwarzenegger’s assistants, comes out of the house with a small plate of cookies,
                offering one to his boss to pair with his espresso.
                “Did you touch it?” Schwarzenegger asks, picking one up, his brow arched over icy blue eyes. “You’re
                sick. Don’t touch anything from this guy,” he warns,
                taking a small bite. “He wants us to get his body fat,” he says, slapping his own midsection, which
                looks flat. “It’s getting harder and harder.”
                <br><br>
                Schwarzenegger is 72, but looks a decade younger, despite the gray in his new beard. He’s wearing shorts
                and a dark green T-shirt,
                and the muscles in his legs still ripple and his signature biceps—no longer the size of icebergs,
                as when he was the king of the bodybuilding world—still dwarf those of most normal folk. He still trains
                his body every day.
                This morning began in his usual fashion: he woke up with the news playing on his bedroom television,
                which he keeps on all night,
                scanned the L.A. Times to catch up on the major stories of the day, then pedaled his bike to Gold’s Gym
                in Venice to hit the weights,
                pumping the world’s most famous muscles full of blood. He’s earned the cookie.
                <br><br>
                He’s also earned the cigar. He’s been smoking them for most of his life,
                puffing his first before he turned 20. He was 31 when he smoked his first handmade cigar,
                a Cuban Montecristo No. 2, and soon he was enjoying all kinds of cigars, but with an affinity for those
                made in Havana.
                He waxes poetic about the barnyard smell that you get when opening a box of good Cubans. “I always smell
                it,” he says.
                “There’s a certain smell of manure that a real Cuban cigar has.” He smiles, then makes a deep, inhaling
                noise as he sniffs. “Ahhhh.”
                <br><br>
                The Monte he is smoking is pretty big—6 1/2 inches long with a 55 ring gauge—but that’s unusual for him
                now.
                “I used to like big cigars, but now I like smaller cigars.”
                The size he has called his favorite is the Partagás Serie D No. 4, Cuba’s most popular robusto.
                His humidors are filled with cigars—he says he has more than 100 designs of humidors in all—and on one
                of the tables in his kitchen sits a pile of various smokes from Honduras,
                Nicaragua and Cuba, among them Liga Privadas and CAO Flatheads. Some are in boxes, others are singles.
                <br><br>
                Schwarzenegger’s house has plenty of cigars, which he doesn’t collect, but smokes. He smokes a cigar a
                day, every day.
                He also shares them openly with friends. When people give Arnold gifts, that gift is often a cigar.
                “I’ve been very fortunate and been gifted a lot of different cigars I love and keep on hand,” he says.
                He reciprocates by having an open humidor policy in Casa Schwarzenegger.
            </p>

            <img class="bigger-img" src="/images/arnoldstory3.jpeg" alt="arnold3"></img>

            <p>
                A 50-year career in film and savvy moves in real estate have put Arnold in this comfortable space, with
                the Terminator being his most famous role.
                It’s actually one he almost turned down. While he always wanted to be a leading man, Schwarzenegger was
                picky. First of all, he could afford it.
                Before he was making a fortune in movies (he was paid a $30 million salary for Terminator 3: Rise of the
                Machines,
                one of the biggest in movie history) he was profiting from other lines of work.
                <br><br>
                “I learned very quickly from the experts that people, a lot of times, for financial reasons, have to
                take on any part,” he says.
                “As creative as Hollywood is, the other side is they are very stupid. They fall into these traps. What
                do you do with a muscle guy?
                Make him the villain. He’s not the guy who saves the day, but the villain. I knew that was the danger. I
                was asked to play a wrestler,
                asked to play a football player, and asked to be on ‘Hogan’s Heroes,’ because of the German accent.”
                <br><br>
                Such roles didn’t appeal to him. “I said, no matter what you do in life, you have to be a businessman.
                In anything, you have to know how do you turn one dollar into two.” He took business classes,
                started a mail-order business selling training programs and invested in California real estate.
                He saved $27,000 and borrowed $10,000 more, buying his first building, which had six units, for
                $240,000.
                Two years later, he sold it for $390,000. One building led to the next, and soon he had hundreds of
                units.
                “I was a millionaire way before I ever clicked in the movies.
                And the reason why I was insistent on becoming financially independent is this way I didn’t have to take
                roles for financial needs.”
                <br><br>
                So when he sat down for lunch with Cameron back in the 1980s, he was fresh off of playing the
                sword-swinging Conan the Barbarian,
                and looking to build on his hero image. Playing a killer robot didn’t initially appeal to him. He was
                originally pegged to play Kyle Reese,
                who tries to save Connor from the merciless machine, but over lunch Cameron shifted gears, offering
                Schwarzenegger the role of the robot.
                He sold him on the concept by explaining how the Terminator wasn’t a true villain, just a machine
                following its mission.
                <br><br>
                Critics lauded The Terminator, which has a perfect 100 percent on Rotten Tomatoes. “No one expected it
                to get reviews like that,
                not even TriStar,” says Schwarzenegger. “They were blown away that it was not considered like a B
                movie.” The film also did well financially,
                taking in $78 million (nearly $200 million in today’s dollars) on a $6 million budget. The story
                continued with Terminator 2: Judgment Day,
                which was the biggest film of 1991, raking in $204 million in the U.S. and more than $500 million
                worldwide.
                Combined, the first five Terminator films have grossed nearly $2 billion. All but one of them have
                starred Schwarzenegger.
                He couldn’t take part in Terminator: Salvation, released in 2009, because he was serving as California’s
                governor.
                His likeness made a brief appearance via CGI.
                <br><br>
                The Terminator tale got clouded after the second film. Cameron, who wrote and directed the first two
                movies,
                had sold the rights to the franchise, and wasn’t involved with movies three, four and five.
                The Terminator bounced around from studio to studio, and the time travel plot device allowed for all
                manner of changes to the story.
                But Cameron got the rights back this year, and Terminator: Dark Fate ignores the last three films.
                “This is a continuation of the story from Terminator 1 and Terminator 2.
                And we’re pretending the other films were a bad dream,” Cameron told a Hollywood Reporter panel.
                “It’s grim, it’s gritty, it’s fast, it’s intense.” He’s one of the film’s writers, and serves as
                executive producer.
                <br><br>
                The film is directed by Tim Miller, who was also behind the hit Deadpool. Miller raves about
                Schwarzenegger’s appeal,
                which works even when he isn’t playing the hero. “No matter what Arnold does, people love him,” says
                Miller.
                “If he’s a bad guy, people love him, and if he’s a good guy, people love him.” He calls Schwarzenegger
                “the epitome of an action hero.”
                <br><br>
                The film reunites Schwarzenegger with Hamilton, reprising her role as Sarah Connor. She’s a badass, a
                tiger mom for the apocalypse,
                as comfortable with a grenade launcher as a teen is with a cell phone. Her character was pursued by the
                Terminator in the original movie,
                protected by it in the sequel and seems to have forged an uneasy alliance with it in Dark Fate.
                “When this is over,” she says in the trailer to Schwarzenegger, “I am going to kill you.” The story
                picks up 27 years after Terminator 2,
                in which Connor and the humans seemed to finally win, preventing global nuclear war by destroying the
                Cyberdine computer system.
            </p>

            <img class="bigger-img" src="/images/arnoldstory4.jpeg" alt="arnold4"></img>

            <p>
                The Terminator is described as a “cybernetic organism, living tissue over a metal endoskeleton.”
                It’s remarkably resilient, but the flesh around it bleeds, and can age, and the computer that drives it
                is capable of learning and changing.
                So even though Schwarzenegger plays the same model of machine in each movie, each one has its nuances.
                “I think that in each of the Terminators, I play a little different role,” he says. “The missions are
                different,
                how much I was with human beings changes my behavior.”
                <br><br>
                This is also the first film between Schwarzenegger and Cameron in 25 years. The movies they make are
                memorable, but they don’t always agree.
                Schwarzenegger wrote about battling with Cameron over the Terminator’s oft-quoted line: “I’ll be back,”
                in his 2012 book Total Recall: My Unbelievably True Life Story. Schwarzenegger, who was raised speaking
                German in his native Austria,
                thought it worked better as “I will be back.” Cameron doesn’t like his words to be changed. “Not even
                the punctuation,” says Schwarzenegger.
                “He will fight for every fucking line in the movie.”
                The line ended up becoming Schwarzenegger’s most famous catch phrase, one he used in at least seven
                other films.
                <br><br>
                Cigars also make frequent appearances in Schwarzenegger movies. He smoked his first cigar in a German
                beer hall more than 50 years ago,
                a year before he made history by being named, at 20, the youngest person ever to be crowned Mr.
                Universe. There were cigars for sale.
                “Cigarillos, with the straws sticking out,” he says.
                Schwarzenegger was focused on his fitness—he followed the advice from bodybuilding magazines, that
                warned about drinking alcohol,
                sipping coffee and smoking cigarettes. (The occasional beer was fine, due to its low alcohol content.)
                “I don’t think I have even had a puff of a cigarette,” he says. “But the bodybuilding magazines didn’t
                mention cigars.”
                <br><br>
                The cigarillos didn’t become a habit, and he stayed clear of cigars for about a decade, being properly
                introduced to them when he met Sargent Shriver,
                the father of Maria Shriver, whom he was dating at the time. (They married in 1986; she filed for
                divorce in 2011.)
                “I’m having dinner at their house in Washington [in 1978]. After dinner, he says to me, ‘Have you ever
                smoked a cigar?’
                And I said, ‘yeah, little ones.’ ” They went downstairs, and Shriver pulled out some Montecristo No. 2
                torpedos.
                “He told me the whole story, that this is a Cuban cigar, the best of the best, they don’t sell these in
                this country.
                So I smoked with him. And the next day we smoked another one, then the next day we smoked another one.”
                <br><br>
                On the set of Conan the Barbarian, which was filmed in Spain, Schwarzenegger smoked cigars with director
                John Milius,
                who enjoyed cigars so much he had it written into his contract that he would get two boxes every week.
                Milius and Schwarzenegger would take smoke breaks. “If we were setting up a shot, Milius would say,
                ‘Bring me the cigars. Let’s have one now.
                I think we deserve a cigar in the middle of the day.’” Schwarzenegger would repeat that move on other
                movie sets.
                “Then all of a sudden, before you know it, every single scene you do in a movie, in between takes,
                you light up and you end up smoking three cigars a day,” he says. Now he smokes one cigar a day.
                <br><br>
                Schwarzenegger broke into movies thanks to his muscles, but his sharp sense of humor helped make him
                stand out.
                One of his best-known films is the 1988 comedy Twins, in which he plays the unlikely brother of Danny
                DeVito.
                (The two are reuniting for a sequel called Triplets, bringing in Eddie Murphy as the third brother. It’s
                scheduled for a 2020 release.)
                He was educated in the art of telling a joke by one of the world’s best, legendary comedian Milton
                Berle. “We were very good friends.
                He was the guy who taught me about humor.” Berle took Schwarzenegger under his wing, teaching him about
                timing,
                and the subtleties of the English language that made it harder for someone who grew up speaking German
                to tell a good joke in English.
                <br><br>
                Berle, who also smoked a heroic number of cigars throughout his long life, didn’t spare his friend when
                roasting him at the Friar’s Club.
                “Waiting for Arnold to win an Oscar,” said Berle, “is like leaving the porch light on for Jimmy Hoffa.”
                <br><br>
                Schwarzenegger and Berle would get together over cigars at Café Roma in Beverly Hills, or at one of
                their homes.
                “I would learn from him, and the more I learned, the more I was around him, the more I started to
                understand how humor works,
                and how to use the English language,” Schwarzenegger says. “Because it needs this extra five percent of
                understanding of the language,
                of the subtlety of the language. Either you get it or you don’t. That’s why a lot of people from
                overseas have a tough time telling an English joke.”
                Schwarzenegger talks about his friend, German actor and bodybuilder Ralf Moeller. “He cannot tell an
                English joke,” says Arnold.
                “Ralfie will say: ‘Look, we are going to burn that bridge before we cross it.’ ”
                <br><br>
                Schwarzenegger, who was born in Allied-occupied Austria in 1947, overcame his strong accent to be a
                movie star.
                He had shown a propensity for setting goals and meeting—or breaking—them from an early age,
                writing his reps and sets in chalk on the gym wall to note his progress. When he would set a goal, he
                wouldn’t keep it to himself,
                but talk about it and write it down, to extend the challenge. “I said I want to be a movie star, I want
                to be a leading man,
                even though everyone said it’s impossible. Then you follow through with the commitment,” he says.
            </p>

            <img class="bigger-img" src="/images/arnoldstory5.jpeg" alt="arnold5"></img>

            <p>
                One of those goals was entering U.S. politics. “I was committed when I came over here, that I wanted to
                give something back to America.”
                In earlier years, he worked with the Special Olympics, and then was chairman of the President’s Council
                on Physical Fitness under the first President Bush.
                The longtime republican was elected California governor in 2003 during a special recall election, and
                was reelected in 2006, serving until he left office in 2011.
                Some of his views run counter to that of his party—he’s an ardent environmentalist, thinks climate
                change is among the greatest problems facing the United States.
                <br><br>
                “There should be not one warehouse in the United States that’s not covered with solar panels. Give
                subsidies for it. We in California do that,” he says.
                “America can be a good example of how you can go and lead on the environment—just like Kennedy led with
                space exploration,” he says.
                “We can show the world that you can have a successful economy, the No. 1 economy, and be No. 1 in the
                environment.”
                <br><br>
                Schwarzenegger speaks fondly about the state that he has called home since the 1970s. “California is an
                extraordinary place; it always has been.
                It’s now the fifth-largest economy in the world. Bigger than England, bigger than France or Italy.” He
                takes a puff of the Montecristo.
                “California is in really good shape. That doesn’t mean that we don’t have flaws. Our budget system
                sucks, our tax system sucks and at any given time,
                if there is a decline economically, California could be in very deep trouble.” He also feels the
                homeless situation in the state is a mess. “It’s out of control.
                Ten years ago they talked about how to get rid of [the] homeless [problem], and since then it’s only
                increased.”
                <br><br>
                He famously erected a smoking tent in the capital atrium as governor, to work around the laws
                prohibiting smoking in the capitol.
                He said democrat lawmakers would join him in the tent—some after they introduced legislation to have it
                taken down.
                When asked if that type of political hypocrisy annoys him, he shrugs it off. “Well, if you are looking
                at it in a very serious way, then it will bother you.
                But you figure out that it’s also like show business.”
                <br><br>
                Even though he’s the very icon of movie star cigar smokers—he’s breaking his own record by appearing on
                our cover a fourth time—he’s not opposed to certain smoking restrictions.
                “I myself signed a lot of anti-smoking bills.
                I always felt that no one else should suffer because of my smoke…If I sit somewhere outside and my smoke
                drifts to another table, I cannot enjoy my cigar anymore.
                <br><br>
                “I wasn’t trying to protect me or cigar smokers, I was trying to protect everybody. Let’s love cigar
                smokers, but let’s also love nonsmokers.
                Let’s figure out how to coexist. And how do you coexist? You meet in the middle.”
                <br><br>
                He watches television news regularly, but switches networks. “In order to get the truth. One is to the
                left, one is to the right, one is a little bit close to the center,
                it’s all over the place. If you want to really capture the feeling of what’s going on, I think it’s
                better to just flip channels every so often.
                I cannot take all the left-wing bullshit, and when I switch over, I can’t take the right-wing bullshit
                either.”
                <br><br>
                He doesn’t enjoy smoking rooms, preferring to smoke outside. “With a passion, I hate smoking rooms,” he
                says.
                He’ll smoke in his Santa Monica office, about once a week, with the windows open, but his favorite place
                to smoke is where he is now, the cabana outside.
                His friends come over and enjoy his open humidor (and open wine cellar) policy, taking cigars, lighting
                up and enjoying Napa Valley wine.
                “The policy is my stuff is always there to be shared. There’s nothing that I have that I would not
                share. That’s just the way it is,” he says.
                <br><br>
                He bought the home in 2002, a spec house, and one of the many things he added was the cabana. He’s
                comfortable here.
                “That’s why I built this whole thing here, I want to sit in front of the fireplace, watch my TV, UFC
                fights or the news at night.”
                <br><br>
                He takes another puff. A script sits to his side, waiting for a rehearsal.
                In the morning, he will repeat the ritual: news, bike, gym, cigar. When you’re Arnold Schwarzenegger,
                life is good.
            </p>

        </div>
        <div class="read-more-container">
            <a href="#" id="myLinkId2" data-content-id="content-moreid2" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="content">
        <h1>Cohiba.<br>
            <span>Fidel Castro's Favorite</span></h1>
        <p>The mystical properties that surround the cigar are due to the Fidel Castro story.</p>
        <div class="content-more hidden" id="content-moreid3">
            <h1>
                Cohiba.
                <br>
                <span>Fidel Castro's Favorite</span>
            </h1>

            <img class="banner-img" src="/images/castro.jpeg" alt="castro"></img>

            <p>
                In this blog post, we are going to be giving our readers an insight into Cohiba;
                the brand is considered by many to be the most successful of all cigar brands and definitely one of our
                favourites.
                Cuban Cigars, since the very beginning have always been held in such high regard. An air of affluence,
                luxury and class have surrounded the product since its very conception.
                Many fine cigars have been made from the most delicate tobacco leaves in Cuba's beautiful regions,
                but one particular brand which is recognised as being the one that does it the best is Cohiba.

                Cohiba is the flagship brand of Habanos S.A and was initially created in 1966 for the Cuban
                revolutionary Fidel Castro.
                During these years, Cohiba Cuban Cigars were made in a secret location, now globally known as the famous
                El Laguito Factory,
                and only given as gifts to those in political conduct such as diplomats and heads of state.
                The Cohiba brand really did begin their journey as an elite cigar brand which was only smoked by those
                worthy of it.
            </p>

            <img class="bigger-img" src="/images/fidelstory2.jpeg" alt="castro2"></img>

            <p>
                The very name Cohiba derives from the Indian Taino word for 'tobacco' and is believed to be coined after
                the bunches of
                tobacco leaves Columbus first saw the natives of Cuba smoking. As aforementioned during its early years,
                only those who were of political importance and the select few were given a chance to smoke these
                fantastic cigars.

                The mystical properties that surround the cigar are due to the Fidel Castro story. Cohiba's origins are
                said to date back to the mid-1960s,
                in which a local torcedor was giving Fidel Castro's bodyguard hand-rolled cigars.
                Fidel Castro enjoyed them so much that he asked for them to be made for his own personal use.
                This meant that the El Laguito Factory began producing regular cigars containing the unbranded tobacco
                blend which would later be known as the world-famous Cohiba.

                In 1968, the brand was launched, and the cigars produced were manufactured on a very small scale, made
                from only the best quality materials.
                The success of these cigars in Cuba meant that Cohiba could expand their production line and make it a
                full one,
                making it more available in cigar stores worldwide. This led to the brand launching itself as a premium
                cigar brand in 1982.
                Notably, in markets outside of the United States, which led to the various lines that have come out of
                the brand since.
            </p>

            <img class="bigger-img" src="/images/fidelstory3.jpeg" alt="castro3"></img>

            <p>
                The leaves used in the Cohiba tobacco blend comes from various districts in the world-famous Vuelta
                Abajo region.
                The tobacco plantations used by Cohiba are recognised as Vegas Finas de Primera,
                which are confirmed by the Cuban Tobacco Institute as the best cigar tobacco growing regions. Zino
                Davidoff, an expert cigar connoisseur,
                also believes that the leaves from the districts of San Luis and San Juan y Martinez are the most sought
                after by cigar manufacturers.
                Therefore, it is absolutely no wonder the cigars from Cohiba are of high-grade quality and so popular
                amongst cigar aficionados worldwide.
                The cigars which contain the seco, ligero and the rare medio tiempo filler leaves have all undergone an
                additional fermentation process
                which is what gives the Cohiba brand it's distinctive and very popular flavours.
            </p>

        </div>
        <div class="read-more-container">
            <a href="#" id="myLinkId3" data-content-id="content-moreid3" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="content">
        <h1>Oliva.<br>
            <span>Serie V Melanio Robusto</span></h1>
        <p>A gorgeous, box-pressed perfecto with a superb wrapper</p>
        <div class="content-more hidden" id="content-moreid4">
            <h1>
                Oliva.
                <br>
                <span>Serie V Melanio Robusto</span>
            </h1>

            <img class="banner-img" src="/images/img1.jpeg" alt="Oliva Serie V Melanio Robusto"></img>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Id nibh tortor id aliquet lectus. Purus non enim praesent elementum facilisis leo vel fringilla.
                Eu consequat ac felis donec et. Ut venenatis tellus in metus vulputate eu scelerisque.
                Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales.
                Senectus et netus et malesuada fames. Ornare arcu dui vivamus arcu felis. Tellus rutrum tellus
                pellentesque eu.
                Blandit libero volutpat sed cras ornare arcu dui vivamus. Sapien eget mi proin sed libero enim sed.
                Scelerisque in dictum non consectetur a erat nam at lectus. Mi proin sed libero enim sed faucibus.
                Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Aliquam ut porttitor leo a diam
                sollicitudin.
                <br><br>
                Eget felis eget nunc lobortis. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat.
                Placerat in egestas erat imperdiet sed euismod. Pellentesque elit eget gravida cum sociis natoque
                penatibus et.
                Fames ac turpis egestas integer eget aliquet. Diam vulputate ut pharetra sit. Scelerisque eu ultrices
                vitae auctor eu.
                Adipiscing elit duis tristique sollicitudin nibh sit amet. Elementum sagittis vitae et leo duis. Egestas
                integer eget aliquet nibh.
                Pellentesque id nibh tortor id aliquet lectus. Mattis rhoncus urna neque viverra justo. Viverra aliquet
                eget sit amet.
                Morbi tincidunt augue interdum velit euismod in pellentesque. Etiam erat velit scelerisque in dictum non
                consectetur.
            </p>
        </div>
        <div class="read-more-container">
            <a href="#" id="myLinkId4" data-content-id="content-moreid4" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="content">
        <h1>Number 5.<br>
            <span>The Fifth</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        <div class="content-more hidden" id="content-moreid5">
            <h1>
                Number 5.
                <br>
                <span>The Fifth</span>
            </h1>

            <img class="banner-img" src="/images/sly.jpeg" alt="sly"></img>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Id nibh tortor id aliquet lectus. Purus non enim praesent elementum facilisis leo vel fringilla.
                Eu consequat ac felis donec et. Ut venenatis tellus in metus vulputate eu scelerisque.
                Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales.
                Senectus et netus et malesuada fames. Ornare arcu dui vivamus arcu felis. Tellus rutrum tellus
                pellentesque eu.
                Blandit libero volutpat sed cras ornare arcu dui vivamus. Sapien eget mi proin sed libero enim sed.
                Scelerisque in dictum non consectetur a erat nam at lectus. Mi proin sed libero enim sed faucibus.
                Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Aliquam ut porttitor leo a diam
                sollicitudin.
                <br><br>
                Eget felis eget nunc lobortis. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat.
                Placerat in egestas erat imperdiet sed euismod. Pellentesque elit eget gravida cum sociis natoque
                penatibus et.
                Fames ac turpis egestas integer eget aliquet. Diam vulputate ut pharetra sit. Scelerisque eu ultrices
                vitae auctor eu.
                Adipiscing elit duis tristique sollicitudin nibh sit amet. Elementum sagittis vitae et leo duis. Egestas
                integer eget aliquet nibh.
                Pellentesque id nibh tortor id aliquet lectus. Mattis rhoncus urna neque viverra justo. Viverra aliquet
                eget sit amet.
                Morbi tincidunt augue interdum velit euismod in pellentesque. Etiam erat velit scelerisque in dictum non
                consectetur.
            </p>
        </div>
        <div class="read-more-container">
            <a href="#" id="myLinkId5" data-content-id="content-moreid5" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div> <!-- /media-icons -->
    <div class="slider-navigation">
        <div class="nav-btn active"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
    </div> <!-- /slider navigation -->
</section> <!-- /home -->

<script src="/javascript/main.js"></script>
</body>
</html>