<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST SITE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <a href="/" class="brand">lounge</a>
    <div class="menu-btn">
        <div class="navigation">
            <div class="navigation-items">
                <a href="/">Main</a>
                <a href="/cigardb">CigarDB</a>
                <a href="#">Contact</a>
                <a href="#">Login/Signup</a>
            </div> <!-- /navigation items -->
        </div> <!-- /navigation -->
    </div> <!-- /menu-btn -->
</header>


<section class="home"> <!-- home -->
    <img class="img-slide active" src="/images/test8.jpeg">
    <img class="img-slide" src="/images/test2.jpeg">
    <img class="img-slide" src="/images/test7.jpeg">
    <img class="img-slide" src="/images/test4.jpeg">
    <img class="img-slide" src="/images/test5.jpeg">


    <div class="content active"> <!-- content active -->
        <h1>Arturo Fuente.<br>
            <span>Mission</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </p>
        <div class="content-more hidden" id="content-moreid1"> <!-- hidden content -->
            <h1>
                Arturo Fuente.
                <br>
                <span>Mission</span>
            </h1>

            <img src="/images/test6.jpeg" alt="arturo fuerte logo"></img>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Id nibh tortor id aliquet lectus. Purus non enim praesent elementum facilisis leo vel fringilla.
                Eu consequat ac felis donec et. Ut venenatis tellus in metus vulputate eu scelerisque.
                Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales.
                Senectus et netus et malesuada fames. Ornare arcu dui vivamus arcu felis. Tellus rutrum tellus
                pellentesque eu.
                Blandit libero volutpat sed cras ornare arcu dui vivamus. Sapien eget mi proin sed libero enim sed.
                Scelerisque in dictum non consectetur a erat nam at lectus. Mi proin sed libero enim sed faucibus.
                Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Aliquam ut porttitor leo a diam
                sollicitudin.
                <br><br>
                Eget felis eget nunc lobortis. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat.
                Placerat in egestas erat imperdiet sed euismod. Pellentesque elit eget gravida cum sociis natoque
                penatibus et.
                Fames ac turpis egestas integer eget aliquet. Diam vulputate ut pharetra sit. Scelerisque eu ultrices
                vitae auctor eu.
                Adipiscing elit duis tristique sollicitudin nibh sit amet. Elementum sagittis vitae et leo duis. Egestas
                integer eget aliquet nibh.
                Pellentesque id nibh tortor id aliquet lectus. Mattis rhoncus urna neque viverra justo. Viverra aliquet
                eget sit amet.
                Morbi tincidunt augue interdum velit euismod in pellentesque. Etiam erat velit scelerisque in dictum non
                consectetur.
            </p>
        </div> <!-- // hidden content -->
        <div class="read-more-container">
            <a href="#" id="myLinkId1" data-content-id="content-moreid1" class="read-more">Read
                More</a>
        </div>
    </div> <!-- /content active -->
    <div class="content"> <!-- .home .content -->
        <h1>Number 2.<br>
            <span>The Second</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        <div class="content-more hidden" id="content-moreid2">
            <h1>
                Number 2.
                <br>
                <span>The Second</span>
            </h1>

            <img src="/images/img2.jpeg" alt="arnold"></img>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Id nibh tortor id aliquet lectus. Purus non enim praesent elementum facilisis leo vel fringilla.
                Eu consequat ac felis donec et. Ut venenatis tellus in metus vulputate eu scelerisque.
                Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales.
                Senectus et netus et malesuada fames. Ornare arcu dui vivamus arcu felis. Tellus rutrum tellus
                pellentesque eu.
                Blandit libero volutpat sed cras ornare arcu dui vivamus. Sapien eget mi proin sed libero enim sed.
                Scelerisque in dictum non consectetur a erat nam at lectus. Mi proin sed libero enim sed faucibus.
                Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Aliquam ut porttitor leo a diam
                sollicitudin.
                <br><br>
                Eget felis eget nunc lobortis. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat.
                Placerat in egestas erat imperdiet sed euismod. Pellentesque elit eget gravida cum sociis natoque
                penatibus et.
                Fames ac turpis egestas integer eget aliquet. Diam vulputate ut pharetra sit. Scelerisque eu ultrices
                vitae auctor eu.
                Adipiscing elit duis tristique sollicitudin nibh sit amet. Elementum sagittis vitae et leo duis. Egestas
                integer eget aliquet nibh.
                Pellentesque id nibh tortor id aliquet lectus. Mattis rhoncus urna neque viverra justo. Viverra aliquet
                eget sit amet.
                Morbi tincidunt augue interdum velit euismod in pellentesque. Etiam erat velit scelerisque in dictum non
                consectetur.
            </p>
        </div>
        <div class="read-more-container">
            <a href="#" id="myLinkId2" data-content-id="content-moreid2" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="content">
        <h1>Cohiba.<br>
            <span>Fidel Castro's Favorite</span></h1>
        <p>The mystical properties that surround the cigar are due to the Fidel Castro story.</p>
        <div class="content-more hidden" id="content-moreid3">
            <h1>
                Cohiba.
                <br>
                <span>Fidel Castro's Favorite</span>
            </h1>

            <img src="/images/castro.jpeg" alt="castro"></img>

            <p>
                Cohiba's origins are said to date back to the mid-1960s, in which a local torcedor
                was giving Fidel Castro's bodyguard hand-rolled cigars. Fidel Castro enjoyed them
                so much that he asked for them to be made for his own personal use. This meant that
                the El Laguito Factory began producing regular cigars containing the unbranded tobacco
                blend which would later be known as the world-famous Cohiba.
            </p>
        </div>
        <div class="read-more-container">
            <a href="#" id="myLinkId3" data-content-id="content-moreid3" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="content">
        <h1>Oliva.<br>
            <span>Serie V Melanio Robusto</span></h1>
        <p>A gorgeous, box-pressed perfecto with a superb wrapper</p>
        <div class="content-more hidden" id="content-moreid4">
            <h1>
                Oliva.
                <br>
                <span>Serie V Melanio Robusto</span>
            </h1>

            <img src="/images/img1.jpeg" alt="Oliva Serie V Melanio Robusto"></img>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Id nibh tortor id aliquet lectus. Purus non enim praesent elementum facilisis leo vel fringilla.
                Eu consequat ac felis donec et. Ut venenatis tellus in metus vulputate eu scelerisque.
                Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales.
                Senectus et netus et malesuada fames. Ornare arcu dui vivamus arcu felis. Tellus rutrum tellus
                pellentesque eu.
                Blandit libero volutpat sed cras ornare arcu dui vivamus. Sapien eget mi proin sed libero enim sed.
                Scelerisque in dictum non consectetur a erat nam at lectus. Mi proin sed libero enim sed faucibus.
                Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Aliquam ut porttitor leo a diam
                sollicitudin.
                <br><br>
                Eget felis eget nunc lobortis. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat.
                Placerat in egestas erat imperdiet sed euismod. Pellentesque elit eget gravida cum sociis natoque
                penatibus et.
                Fames ac turpis egestas integer eget aliquet. Diam vulputate ut pharetra sit. Scelerisque eu ultrices
                vitae auctor eu.
                Adipiscing elit duis tristique sollicitudin nibh sit amet. Elementum sagittis vitae et leo duis. Egestas
                integer eget aliquet nibh.
                Pellentesque id nibh tortor id aliquet lectus. Mattis rhoncus urna neque viverra justo. Viverra aliquet
                eget sit amet.
                Morbi tincidunt augue interdum velit euismod in pellentesque. Etiam erat velit scelerisque in dictum non
                consectetur.
            </p>
        </div>
        <div class="read-more-container">
            <a href="#" id="myLinkId4" data-content-id="content-moreid4" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="content">
        <h1>Number 5.<br>
            <span>The Fifth</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        <div class="content-more hidden" id="content-moreid5">
            <h1>
                Number 5.
                <br>
                <span>The Fifth</span>
            </h1>

            <img src="/images/sly.jpeg" alt="sly"></img>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Id nibh tortor id aliquet lectus. Purus non enim praesent elementum facilisis leo vel fringilla.
                Eu consequat ac felis donec et. Ut venenatis tellus in metus vulputate eu scelerisque.
                Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales.
                Senectus et netus et malesuada fames. Ornare arcu dui vivamus arcu felis. Tellus rutrum tellus
                pellentesque eu.
                Blandit libero volutpat sed cras ornare arcu dui vivamus. Sapien eget mi proin sed libero enim sed.
                Scelerisque in dictum non consectetur a erat nam at lectus. Mi proin sed libero enim sed faucibus.
                Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Aliquam ut porttitor leo a diam
                sollicitudin.
                <br><br>
                Eget felis eget nunc lobortis. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat.
                Placerat in egestas erat imperdiet sed euismod. Pellentesque elit eget gravida cum sociis natoque
                penatibus et.
                Fames ac turpis egestas integer eget aliquet. Diam vulputate ut pharetra sit. Scelerisque eu ultrices
                vitae auctor eu.
                Adipiscing elit duis tristique sollicitudin nibh sit amet. Elementum sagittis vitae et leo duis. Egestas
                integer eget aliquet nibh.
                Pellentesque id nibh tortor id aliquet lectus. Mattis rhoncus urna neque viverra justo. Viverra aliquet
                eget sit amet.
                Morbi tincidunt augue interdum velit euismod in pellentesque. Etiam erat velit scelerisque in dictum non
                consectetur.
            </p>
        </div>
        <div class="read-more-container">
            <a href="#" id="myLinkId5" data-content-id="content-moreid5" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div> <!-- /media-icons -->
    <div class="slider-navigation">
        <div class="nav-btn active"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
    </div> <!-- /slider navigation -->
</section> <!-- /home -->

<script src="/javascript/main.js"></script>

</body>
</html>