<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Main Page</title>

    <style type="text/css">
        * {
            text-decoration: none;
        }

        /*.navbar {*/
        /*    background: crimson;*/
        /*    font-family: calibri;*/
        /*    padding-top: 20px;*/
        /*    padding-right: 15px;*/
        /*    padding-left: 15px;*/
        /*    padding-bottom: 20px;*/
        /*}*/

        /*.navdiv {*/
        /*    display: flex;*/
        /*    align-items: center;*/
        /*    justify-content: space-between;*/
        /*}*/

        /*.logo a {*/
        /*    font-size: 35px;*/
        /*    font-weight: 600;*/
        /*    color: white;*/
        /*}*/

        /*li {*/
        /*    list-style: none;*/
        /*    display: inline-block;*/
        /*}*/

        /*li a {*/
        /*    color: white;*/
        /*    font-size: 18px;*/
        /*    font-weight: bold;*/
        /*    margin-right: 25px;*/
        /*}*/

        /*button {*/
        /*    background-color: black;*/
        /*    margin-left: 10px;*/
        /*    border-radius: 10px;*/
        /*    padding: 10px;*/
        /*    width: 90px;*/
        /*}*/

        /*button a {*/
        /*    color: white;*/
        /*    font-weight: bold;*/
        /*    font-size: 15px;*/
        /*}*/
    </style>
</head>
<body>
<nav class="navbar">
    <div class="navdiv">
        <div class="logo">
            <a href="/main">CigarApp</a>
        </div>
        <ul>
            <li>
                <a href="/viewCigarList">CigarDB</a>
            </li>
            <li>
                <a href="/brands">Brands</a>
            </li>
            <li>
                <a href="/humidor">Humidor</a>
            </li>
            <li>
                <a href="/favorites">Favorites</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <button>
                <a href="/signin">SignIn</a>
            </button>
            <button>
                <a href="/signup">SignUp</a>
            </button>
        </ul>

    </div>
</nav>
<!-- flex cards -->
<div class="wrapper">
    <div class="container">
        <input type="radio" name="slide" id="c1" checked>
        <label for="c1" class="card">
            <div class="row">
                <div class="icon">1</div>
                <div class="description">
                    <h4>Oliva Serie V Melanio Robusto</h4>
                    <p>A gorgeous, box-pressed perfecto with a superb wrapper -
                        Rating: 92</p>
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="c2">
        <label for="c2" class="card">
            <div class="row">
                <div class="icon">2</div>
                <div class="description">
                    <h4>Arnold Schwarzenegger</h4>
                    <p>"I smoked little Virginians when I went to Munich as a bodybuilder, but I didn't smoke a real
                        cigar until 1977, when I met Maria."</p>
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="c3">
        <label for="c3" class="card">
            <div class="row">
                <div class="icon">3</div>
                <div class="description">
                    <h4>Globalization</h4>
                    <p>Help people all over the world</p>
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="c4">
        <label for="c4" class="card">
            <div class="row">
                <div class="icon">4</div>
                <div class="description">
                    <h4>Cigars & Coffee</h4>
                    <p>“Heaven is a large Havana cigar with black coffee for breakfast”</p>
                </div>
            </div>
        </label>
    </div>
</div>
<!-- // flex cards -->
</body>
</html>