<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST SITE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/teststyle.css">
</head>
<body>

<header>
    <a href="/test" class="brand">lounge:q</a>
    <div class="menu-btn">
        <div class="navigation">
            <div class="navigation-items">
                <a href="#">Main</a>
                <a href="#">CigarDB</a>
                <a href="#">Brands</a>
                <a href="#">Humidor</a>
                <a href="#">Favorites</a>
                <a href="#">Blog</a>
                <a href="#">Contact</a>
                <a href="#">Login/Signup</a>
            </div> <!-- /navigation items -->
        </div> <!-- /navigation -->
    </div> <!-- /menu-btn -->
</header>

<section class="home"> <!-- home -->
    <img class="img-slide active" src="/images/test8.jpeg">
    <img class="img-slide" src="/images/test2.jpeg">
    <img class="img-slide" src="/images/test7.jpeg">
    <img class="img-slide" src="/images/test4.jpeg">
    <img class="img-slide" src="/images/test5.jpeg">
    <div class="content active"> <!-- content active -->
        <h1>Arturo Fuente.<br>
            <span>Mission</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </p>
        <div class="content-more hidden" id="content-moreid1">
        <p>Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </div>
        <div class="read-more-container">
        <a href="#" id="myLinkId1" data-content-id="content-moreid1" class="read-more">Read More</a>
            </div>
    </div> <!-- /content active -->
    <div class="content"> <!-- .home .content -->
        <h1>Number 2.<br>
            <span>The Second</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="content-more hidden" id="content-moreid2">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="read-more-container">
        <a href="#" id="myLinkId2" data-content-id="content-moreid2" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="content">
        <h1>Cohiba.<br>
            <span>Fidel Castro's Favorite</span></h1>
        <p>The mystical properties that surround the cigar are due to the Fidel Castro story.</p>
        <div class="content-more hidden" id="content-moreid3">
            <p>Cohiba's origins are said to date back to the mid-1960s, in which a local torcedor
                was giving Fidel Castro's bodyguard hand-rolled cigars. Fidel Castro enjoyed them
                so much that he asked for them to be made for his own personal use. This meant that
                the El Laguito Factory began producing regular cigars containing the unbranded tobacco
                blend which would later be known as the world-famous Cohiba.</p>
        </div>
        <div class="read-more-container">
        <a href="#" id="myLinkId3" data-content-id="content-moreid3" class="read-more">Read More</a>
            </div>
    </div> <!-- /content -->
    <div class="content">
        <h1>Oliva.<br>
            <span>Serie V Melanio Robusto</span></h1>
        <p>A gorgeous, box-pressed perfecto with a superb wrapper</p>
        <div class="content-more hidden" id="content-moreid4" >
            <p>Rating: 92</p>
        </div>
        <div class="read-more-container">
        <a href="#" id="myLinkId4" data-content-id="content-moreid4" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="content">
        <h1>Number 5.<br>
            <span>The Fifth</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="content-more hidden" id="content-moreid5">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="read-more-container">
        <a href="#" id="myLinkId5" data-content-id="content-moreid5" class="read-more">Read More</a>
        </div>
    </div> <!-- /content -->
    <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div> <!-- /media-icons -->
    <div class="slider-navigation">
        <div class="nav-btn active"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
    </div> <!-- /slider navigation -->
</section> <!-- /home -->
<script src="/javascript/main.js"></script>

</body>
</html>